<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
  <context:annotation-config/>
  <context:property-placeholder location="classpath:app.properties" />
  <context:component-scan base-package="com.amit.amit"/>
  
  <bean id="xmlUser" class="com.amit.bean.UserXmlBean" init-method="init" destroy-method="destroy">
  
  </bean>
  
  <bean id="controller" class="com.amit.autowire.Controller" autowire="byName">
  
  </bean>
  
  <bean id="serviceBean" class="com.amit.autowire.ServiceImpl">
  
  </bean>
  
  <bean id="controller1" class="com.amit.autowire.Controller1" autowire="constructor">
  
  </bean>
  
  <bean id="service1" class="com.amit.autowire.Service1">
  
  </bean>
  
  <bean id="xmlConfigDept" class="com.amit.collectionDependency.XMLConfigDept">
  <property name="dummyList">
  	<list>
  		<value>One</value>
  		<value>Two</value>
  		<value>Three</value>
  		<value>Four</value>
  	</list>
  </property>
  <property name="dummyMap">
  	<map>
    	<entry key = "1" value = "One"/>
     	<entry key = "2" value = "Two"/>
     	<entry key = "3" value = "Three"/>
     	<entry key = "4" value = "Four"/>
  	</map>
  </property>
  <property name="studentList">
  	<list>
    	<ref bean="xmlConfigStudent1"></ref>
    	<ref bean="xmlConfigStudent2"></ref>
    	<ref bean="xmlConfigStudent3"></ref>
  	</list>
  </property>
  <property name="studentMap">
    <map>
    	<entry key = "1" value-ref = "xmlConfigStudent1"/>
     	<entry key = "2" value-ref = "xmlConfigStudent2"/>
     	<entry key = "3" value-ref = "xmlConfigStudent3"/>
  	</map>
  </property>
  </bean>
  
  <bean id="xmlConfigStudent1" class="com.amit.collectionDependency.XMLConfigStudent">
  	<constructor-arg name="id">
  		<value>1</value>
  	</constructor-arg>
  	<constructor-arg name="name">
  		<value>Student1</value>
  	</constructor-arg>
  </bean>
  
  <bean id="xmlConfigStudent2" class="com.amit.collectionDependency.XMLConfigStudent">
  	<constructor-arg name="id">
  		<value>2</value>
  	</constructor-arg>
  	<constructor-arg name="name">
  		<value>Student2</value>
  	</constructor-arg>
  </bean>
  <bean id="xmlConfigStudent3" class="com.amit.collectionDependency.XMLConfigStudent">
  	<constructor-arg name="id">
  		<value>3</value>
  	</constructor-arg>
  	<constructor-arg name="name">
  		<value>Student3</value>
  	</constructor-arg>
  </bean>
  
  <bean id="messageXmlSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages" />
  </bean>
   
  <bean id="xmlUser1" class="com.amit.spel.XmlUser">
  	<property name="firstName" value = "${app.xmlUser.firstName}" />
  	<property name="lastName" value = "${app.xmlUser.lastName}" />
  	<property name="dateOfBirth" value = "${app.xmlUser.dob}" />
  </bean>
</beans>