<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
  <context:annotation-config/>
  <context:component-scan base-package="com.amit.appContext"/>
  
  <bean id="xmlUser" class="com.amit.bean.UserXmlBean" init-method="init" destroy-method="destroy">
  
  </bean>
  
  <bean id="controller" class="com.amit.autowire.Controller" autowire="byName">
  
  </bean>
  
  <bean id="serviceBean" class="com.amit.autowire.ServiceImpl">
  
  </bean>
  
  <bean id="controller1" class="com.amit.autowire.Controller1" autowire="constructor">
  
  </bean>
  
  <bean id="service1" class="com.amit.autowire.Service1">
  
  </bean>
</beans>